

body{
    background-image:url(https://www.greenpeace.org/static/planet4-colombia-stateless/2020/06/fd2920e2-blog1-1024x683.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

            .h1{
                color: cornflowerblue;
            }

            img{
                width: 400px;
            }

            #thirdDiv {
                background-color: green;
                height: 600px;
                width: 500px;
                padding: 50px;
                border: 8px groove rgba(73, 70, 66, 0.747);
            }
            
            #spanId {
                font-size: 18px;
                margin: 50px;
            }
